<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Personas</title>
    </head>
    <body>
        <h1>Lista de Personas</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Fecha de Nacimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.id}"></td>
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.apellido}"></td>
                    <td th:text="${persona.email}"></td>
                    <td th:text="${persona.telefono}"></td>
                    <td th:text="${persona.fechaNacimiento}"></td>
                </tr>
            </tbody>
        </table>
    </body>