<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SISTEMA DE Veterinaria</title>
    </head>
    <body>
        <h1>Version sin paneles de diseño</h1>
        <ul>
            <li><a th:href="@{/personas/lista}">Ver Personas</a></li>
            <li><a th:href="@{/personas/formulario}">Agregar Persona</a></li>
            <li><a th:href="@{/mascotas/lista}">Ver Mascotas</a></li>
            <li><a th:href="@{/mascotas/formulario}">Agregar Mascota</a></li>
        </ul>
    </body>
</html>